$title-color: #ef6c00;
$title-level2-color: #595959;
$title-level3-color: #000000;
$p-color: #000000;

$button-background-color: #006d68ff;
$sidebar-background-color: #ef6c00ff;


$font-family: 'Arial';
$title-font-size: 36px;
$title-level2-font-size: 36px;
$title-level3-font-size: 16px;
$p-font-size: 14px;
