$background-color: #f3f3f3;

$sm: 720px;
$md: 920px;
$lg: 1440px;
$xl: 1920px;

.footerContainer {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer img {
  height: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.footerText {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 23rem;
  margin-right: 23rem;
}

.footerText p {
  color: black;
  font-size: 10px;
}

@media (min-width: $sm) and (max-width: $lg) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer img {
    height: auto;
    width: 5rem;
  }

  .footerText {
    margin: auto;
  }

  .footerText p {
    color: black;
    font-size: 10px;
    margin: 1rem;
  }
}

@media only screen and (max-width: $sm) {
  .footer {
    display: block;
  }

  .footer img {
    height: auto;
    width: 4rem;
  }

  .footerText {
    margin: auto;
  }

  .footerText p {
    color: black;
    font-size: 10px;
    margin: 1rem;
  }
}
