$sm: 720px;
$md: 920px;
$lg: 1440px;
$xl: 1920px;

.header {
  margin: 2rem;
}

.headerHomePageImages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}

.logo1 {
  width: 20rem;
}
.logo2 {
  width: 20rem;
}
.logo3 {
  width: 10rem;
  height: 8rem;
}

@media (min-width: $lg) {
  /* Main page header Layout*/

  .headerMain {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    div {
      width: 33%;
    }
  }

  .homeButtonsHeader {
    & button {
      font-size: 1rem;
      padding: 0;
      margin: 1rem;
      width: 6rem;
      height: 2.5rem;
      border-radius: 10px;
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  /* Main page header Layout*/

  .headerMain {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    div {
      width: 33%;
    }
  }

  .homeButtonsHeader {
    & button {
      font-size: 1rem;
      padding: 0;
      margin: 1rem;
      width: 6rem;
      height: 2.5rem;
      border-radius: 10px;
    }
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .logo1 {
    width: 25rem;
  }
  .logo2 {
    width: 15rem;
  }

  /* Main page header Layout*/

  .headerMain {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .homeButtonsHeader {
    & button {
      font-size: 1rem;
      padding: 0;
      margin: 1rem;
      width: 6rem;
      height: 2.5rem;
      border-radius: 10px;
    }
  }
}

@media only screen and (max-width: $sm) {
  .logo1 {
    width: 7rem;
    height: 4rem;
  }
  .logo2 {
    width: 7rem;
    height: 4rem;
  }

  .logo3 {
    width: 5rem;
    height: 4rem;
  }

  .headerMain {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .homeButtonsHeader {
    & button {
      font-size: 1rem;
      padding: 0;
      margin: 1rem;
      width: 6rem;
      height: 2.5rem;
      border-radius: 10px;
    }
  }
}
