.header {
  margin: 2rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}

.logo {
  width: 25rem;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 85%;
  }
}
