$higher-interval: 1450px;

.header {
  margin: 2rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}

.logo1 {
  width: 20rem;
}
.logo2 {
  width: 15rem;
}

@media (min-width: 767px) and (max-width: $higher-interval) {
  .logo1 {
    width: 25rem;
  }
  .logo2 {
    width: 15rem;
  }
}

@media only screen and (max-width: 766px) {
  .logo1 {
    width: 13rem;
  }
  .logo2 {
    width: 12rem;
  }
}
