$paragraph-font-size: 20px;
$paragraph-font-color: #175389;
$span-font-color: #f3585a;

.logohead {
  width: 30rem;
}

.logoPrism {
  width: 10rem;
}

p {
  font-size: $paragraph-font-size;
  color: $paragraph-font-color;
  text-align: center;
}

.orangeSpan {
  color: $span-font-color;
}

.headContainer {
  position: relative;
  text-align: center;
}

.headParagraph {
  position: absolute;
  top: 40%;
  left: 45%;
  margin-left: 3rem;
  margin-right: 22rem;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 766px) {
  .headContainer img {
    width: 20rem;
  }
  .headParagraph {
    position: absolute;
    top: 40%;
    left: 40%;
    margin-left: 3rem;
    margin-right: 22rem;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0);
  }
}
