$title-color: #175389;
$title-level2-color: #595959;
$title-level3-color: #000000;
$p-color: #000000;
$p-sidebar-color: white;

$background-color: #f3f3f3;
$button-background-color: #fcb215;
$content-background-color: #f3f3f3;
$sidebar-background-color: #175389;

$font-family: "Montserrat", sans-serif;
$title-font-size: 54px;
$title-level2-font-size: 36px;
$title-level3-font-size: 16px;
$p-font-size: 14px;

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $background-color;
}

h1 {
  color: $title-color;
  font-family: $font-family;
  font-size: $title-font-size;
  font-weight: 500;
}

h2 {
  text-align: left;
  color: $title-level2-color;
  font-family: $font-family;
  font-size: $title-level2-font-size;
  margin-bottom: 20px;
}

p {
  text-align: left;
  color: $p-font-size;
  font-family: $font-family;
  font-size: $p-font-size;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.resourcesContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $sidebar-background-color;
}

.content {
  text-align: center;
  background-color: $background-color;
}

.resourcesContent {
  background-color: $sidebar-background-color;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .content {
    background-color: $content-background-color;
    width: 100% !important;
    margin-left: 0;
    text-align: center;
  }
}

.main {
  margin: 0 auto;
  width: 70%;
  min-height: 500px;
}

@media only screen and (max-width: 600px) {
  .main {
    margin: 0 auto;
    width: 90%;
  }
}

.main {
  ul {
    padding-left: 2rem;

    li {
      text-align: left;
      margin-bottom: 10px;
      font-size: $p-font-size;
    }
  }
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  width: 15%;
  background-color: $sidebar-background-color;
  color: white;
  overflow-x: hidden;
}

.sidebar-mainWeb {
  margin-top: 5rem;
  background-color: $sidebar-background-color;
}

.sidebar-mainWeb h1 {
  color: $button-background-color;
  background-color: $sidebar-background-color;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.sidebar-mainWeb h2 {
  color: $button-background-color;
  background-color: $sidebar-background-color;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.sidebar-mainWeb h3 {
  color: $button-background-color;
  background-color: $sidebar-background-color;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.sidebar-mainWeb h2 {
  color: white;
}

.sidebar-mainWeb i {
  background-color: $sidebar-background-color;
}
.sidebar-mainWeb p {
  font-weight: 700;
  background-color: $sidebar-background-color;
}

.sidebar-mainWeb h3 {
  color: $button-background-color;
}

.sidebar-mainWeb p {
  color: white;
  font-size: 14px;
}

.sidebar a {
  color: white;
}

.sidebar-header {
  margin-top: 1rem;
  text-align: center;
  background-color: $sidebar-background-color;
}

.sidebar-header i {
  background-color: $sidebar-background-color;
}

.prismSymbolContainer {
  margin-top: 5rem;
  text-align: center;
  background-color: $sidebar-background-color;
}

.prismSymbolContainer p {
  font-weight: 700;
}

.prismSymbol {
  background-color: $sidebar-background-color;
  width: 5rem;
}

.full-content {
  display: none;
}

.full-sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  width: 100%;
  background-color: $sidebar-background-color;
  color: white;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .sidebar nav {
    display: none;
  }

  .sidebar {
    position: fixed;
    margin-top: 30%;
    height: 4rem;
  }
}

.main-navList {
  margin-left: 2rem;
}

.nav-list {
  margin-left: 0;
  padding: 0.5rem;
  font-weight: normal;
  background-color: $sidebar-background-color;
}

.nav-item {
  margin-left: 0;
  padding: 0;
  color: $button-background-color;
  font-weight: 700;
  background-color: $sidebar-background-color;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: $sidebar-background-color;
}

.welcomeFirstBlock h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.welcomeFirstBlock h2 {
  text-align: left;
  font-size: 16px;
  color: $title-color;
  font-weight: 700;
}

.welcomeSecondBlock h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.welcomeFirstBlock p {
  text-align: left;
  color: black;
  font-size: 16px;
}

.welcomeSecondBlock p {
  color: black;
  font-size: 16px;
}

.listArrow {
  width: 1rem;
  vertical-align: middle;
}

.step {
  color: $title-color;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 1rem;
}

.column p {
  text-align: justify;
}

button {
  background-color: $button-background-color;
  color: white;
  border: 0;
  margin: 2rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  font-size: $title-level2-font-size;
  border-radius: 15px;
  box-shadow: 3px 3px #c5c5c5;
  font-weight: bold;
  cursor: pointer;
}

.forms button {
  background-color: $button-background-color;
  width: 35%;
  color: white;
  border: 0;
  margin: 2rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  font-size: $p-font-size;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  button {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .forms button {
    width: 100%;
    margin: 0rem;
    margin-bottom: 1rem;
  }
}

$imageWidht: 200rem;
$imageHeight: $imageWidht * 3/4;
$imageArrowWidht: 200rem;
$imageArrowHeight: $imageArrowWidht * 3/4;

.schemaImage {
  display: flex;
}

.schemaImage1 {
  width: $imageWidht;
}
.schemaImageArrow1 {
  width: $imageArrowWidht;
  position: relative;
  bottom: 2rem;
}
.schemaImage2 {
  width: $imageWidht;
}
.schemaImageArrow2 {
  width: $imageArrowWidht;
  position: relative;
  top: 2rem;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.schemaImage3 {
  width: $imageWidht;
}

.termOfUse {
  text-align: left;
}

.termOfUseForm {
  display: flex;
}

.formIcon {
  height: 5rem;
  background-color: $button-background-color;
}
